:root {
  font-family: "EB Garamond", serif !important;

  /* Box Model */
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* Fonts */
  --main_header_font_size: 26px;
  --header_font_weight: 800;

  --text_font_size: 24px;
  --text_font_weight: 500;

  --footer_font_size: 12px;
  --footer_font_weight: 400;

  --other_font_size: 16px;
  --other_font_weight: 400;

  /* Colors */
  --background_color: #ffeecd;
  --text_color: #000000;
  --header_color: #000000;
  --footer_color: #000000;
  --other_color: #000000;
  --link_color: #000000;
  --link_hover_color: #000000;
  --button_color: #000000;
  --button_hover_color: #000000;
  --button_text_color: #ffffff;
  --button_text_hover_color: #ffffff;
  --button_border_color: #000000;
}

body {
  font-family: "EB Garamond", serif;
  background-color: var(--background_color);
  color: var(--text_color);
  margin: 0;
  padding: 0;
}

h1 {
  font-size: var(--main_header_font_size);
}

h2 {
  font-size: var(--text_font_size);
}

h3 {
  font-size: var(--other_font_size);
}

header {
  text-align: center;
  height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: var(--main_header_font_size);
  font-weight: var(--header_font_weight);
}

header .dot {
  height: 30px;
  width: 30px;
  background-color: blue;
  border-radius: 50%;
  display: block;
  margin: 10px;
  animation: blink 3s infinite;
}

@keyframes blink {
  0% {
    background-color: blue;
  }
  50% {
    background-color: rgb(172, 172, 255);
  }
  100% {
    background-color: blue;
  }
}

.projects {
  height: auto;
  padding: 20px;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  position: relative;
  text-align: center;
  margin-bottom: 2rem;
}

.projects h2 {
  font-size: 20px;
}

.project-list {
  display: inline-block;
  animation: slide 20s linear infinite;
}

.project {
  display: inline-block;
  background-color: #444;
  color: #fff;
  width: 237px;
  height: 100px;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 20px;
  text-align: center;
  line-height: 100px; /* Center text vertically */
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}
.scroll {
  font-size: 0.9em;
  color: #777;
  text-align: center;
}

section {
  padding: 20px 50px;
}

p {
  font-size: var(--other_font_size);
  font-weight: var(--text_font_weight);
}

.social-media {
  display: flex;
  gap: 20px;
}

.social-media a {
  color: #000000;
  font-size: 20px;
}

social-media a:hover {
  color: blue;
}

footer {
  text-align: center;
  padding: 20px;
  font-weight: bolder;
  color: #000000;
}

@media (max-width: 800px) {
  header {
    margin-top: 10vh;
    height: 60vh;
  }

  .projects {
    height: auto;
    padding: 20px;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    position: relative;
    text-align: center;
  }
  .projects h2 {
    font-size: 20px;
  }

  .project-list {
    display: inline-block;
    animation: slide 20s linear infinite;
  }

  .project {
    display: inline-block;
    background-color: #444;
    color: #fff;
    width: 237px;
    height: 100px;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px;
    text-align: center;
    line-height: 100px; /* Center text vertically */
  }
}

@media (max-width: 600px) {
  @media (max-width: 600px) {
    .projects {
      height: auto;
      text-align: center;
      padding: 20px;
      overflow: hidden;
      white-space: nowrap;
      width: 100%;
      position: relative;
    }

    .projects h2 {
      font-size: 20px;
    }

    .project-list {
      display: inline-block;
      animation: slide 20s linear infinite;
    }

    .project {
      display: inline-block;
      background-color: #444;
      color: #fff;
      width: 237px;
      height: 100px;
      font-weight: bolder;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      cursor: pointer;
      margin-right: 20px;
      text-align: center;
      line-height: 100px; /* Center text vertically */
    }
  }
  .scroll {
    margin-top: 5vh;
    font-size: 12px;
    height: auto;
  }

  footer {
    font-size: 8px !important;
    opacity: 0.5;
  }
}
