:root {
  font-family: "EB Garamond", serif !important;
  overflow-x: hidden;

  /* Box Model */
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* Fonts */
  --main_header_font_size: 26px;
  --header_font_weight: 800;
  --text_font_size: 24px;
  --text_font_weight: 500;
  --footer_font_size: 12px;
  --footer_font_weight: 400;
  --other_font_size: 16px;
  --other_font_weight: 400;

  /* Colors */
  --background_color: #ffeecd;
  --text_color: #000000;
  --header_color: #000000;
  --footer_color: #000000;
  --other_color: #000000;
  --link_color: #000000;
  --link_hover_color: #000000;
  --button_color: #000000;
  --button_hover_color: #000000;
  --button_text_color: #ffffff;
  --button_text_hover_color: #ffffff;
  --button_border_color: #000000;
  --project_background_color: #112d73;
  --a-text-color: #1c4abe;
}

::selection {
  background-color: #1c4abe;
  color: #fff;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background_color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--project_background_color);
}

header,
.subheader,
.scroll,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

body {
  font-family: "EB Garamond", serif;
  background-color: var(--background_color);
  color: var(--text_color);
  margin: 0;
  padding: 0;
}

h1 {
  font-size: var(--main_header_font_size);
}

h2 {
  font-size: var(--text_font_size);
  font-weight: bolder;
}

h3 {
  font-size: var(--other_font_size);
}

a {
  color: var(--a-text-color);
  text-decoration: solid;
}

a:hover {
  color: var(--a-text-color);
  text-decoration: underline;
}

img {
  border: 2px solid var(--project_background_color);
  border-radius: 5px;
}

header {
  height: 70vh;
  font-size: var(--main_header_font_size);
  font-weight: var(--header_font_weight);
}

header .dot {
  height: 30px;
  width: 30px;
  background-color: blue;
  border-radius: 50%;
  display: block;
  margin: 10px;
  animation: blink 3s infinite;
}

@keyframes blink {
  0% {
    background-color: blue;
  }
  50% {
    background-color: #010a26;
  }
  100% {
    background-color: blue;
  }
}

.projects {
  align-items: center;
  justify-content: center;
  height: auto;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  position: relative;
  margin-bottom: 2rem;
}

.subheader {
  font-size: 20px !important;
  font-weight: bold !important;
  padding: 0 !important;
  margin: 1rem 0 !important;
}

.project-list {
  display: inline-block;
  animation: slide 20s linear infinite running;
}

.project {
  display: inline-block;
  background-color: var(--project_background_color);
  color: #fff;
  width: 237px;
  height: 100px;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 20px;
  text-align: center;
  line-height: 100px; /* Center text vertically */
  transition: 0.3s ease-in-out; /* Smooth hover effect */
}

.project a {
  color: #fff;
  text-decoration: none;
}

.project:hover {
  background-color: #02195e;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Duplicate the content to create a seamless loop */
.project-list::after {
  content: "";
  display: inline-block;
  width: 100%;
}

.scroll {
  font-size: 0.9em;
  color: #777;
  padding: 0;
}

section {
  padding: 20px 50px;
}

p {
  font-size: var(--other_font_size);
  font-weight: var(--text_font_weight);
}

.social-media {
  display: flex;
  gap: 20px;
}

.social-media a {
  color: #000000;
  font-size: 20px;
}

.social-media a:hover {
  color: var(--project_background_color) !important;
}

footer {
  padding: 20px;
  font-weight: bolder;
  color: #000000;
  opacity: 0.8;
  width: 100% !important;
}


@media (max-width: 800px) {
  header {
    margin-top: 10vh;
    height: 60vh;
  }

  .projects {
    height: auto;
    padding: 20px;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    position: relative;
  }

  .projects h2 {
    font-size: 20px;
    width: 100% !important;
  }

  .project-list {
    display: inline-block;
    animation: slide 20s linear infinite;
  }

  .project {
    width: 237px;
    height: 100px;
    line-height: 100px; /* Center text vertically */
  }
}

@media (max-width: 600px) {
  .projects {
    height: auto;
    padding: 20px;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    position: relative;
  }

  .projects h2 {
    font-size: 15px !important;
    width: 100% !important;
  }

  .subheader {
    font-size: 15px !important;
    font-weight: bold !important;
    padding: 0 !important;
    margin: 1rem 0 !important;
    width: 100% !important;
    text-align: center !important;
    align-self: center !important;
    justify-content: baseline !important;
  }

  .project-list {
    display: inline-block;
    animation: slide 20s linear infinite;
  }

  .project {
    width: 237px;
    height: 100px;
    line-height: 100px; /* Center text vertically */
  }

  .project a {
    font-size: 12px;
    text-align: center !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .scroll {
    margin-top: 5vh;
    font-size: 12px;
    height: auto;
    width: 100% !important;
  }

  footer {
    padding: 20px;
    font-weight: bolder;
    color: #000000;
    opacity: 0.8;
  }

  footer p {
    font-size: 12px !important;
    font-weight: bolder;
    opacity: 0.8;
  }
}
