header {
  height: 10vh;
}

.container {
  width: 100%;
}

.map {
  width: 100%;
  text-align: center;
  margin: 20px 0;
}

.visiter {
  width: 100%;
  margin: 20px 0;
  background-color: aquamarine;
  text-align: center;
}
